pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000;  padding-left: 5px; padding-right: 5px; }
.chroma .hll { background-color: #ffffcc }
/*.chroma { background: #eeffcc; } */
.chroma .c { color: #408090; font-style: italic } /* Comment */
.chroma .err { border: 1px solid #FF0000 } /* Error */
.chroma .k { color: #007020; font-weight: bold } /* Keyword */
.chroma .o { color: #666666 } /* Operator */
.chroma .ch { color: #408090; font-style: italic } /* Comment.Hashbang */
.chroma .cm { color: #408090; font-style: italic } /* Comment.Multiline */
.chroma .cp { color: #007020 } /* Comment.Preproc */
.chroma .cpf { color: #408090; font-style: italic } /* Comment.PreprocFile */
.chroma .c1 { color: #408090; font-style: italic } /* Comment.Single */
.chroma .cs { color: #408090; background-color: #fff0f0 } /* Comment.Special */
.chroma .gd { color: #A00000 } /* Generic.Deleted */
.chroma .ge { font-style: italic } /* Generic.Emph */
.chroma .gr { color: #FF0000 } /* Generic.Error */
.chroma .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.chroma .gi { color: #00A000 } /* Generic.Inserted */
.chroma .go { color: #333333 } /* Generic.Output */
.chroma .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.chroma .gs { font-weight: bold } /* Generic.Strong */
.chroma .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.chroma .gt { color: #0044DD } /* Generic.Traceback */
.chroma .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.chroma .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.chroma .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.chroma .kp { color: #007020 } /* Keyword.Pseudo */
.chroma .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.chroma .kt { color: #902000 } /* Keyword.Type */
.chroma .m { color: #208050 } /* Literal.Number */
.chroma .s { color: #4070a0 } /* Literal.String */
.chroma .na { color: #4070a0 } /* Name.Attribute */
.chroma .nb { color: #007020 } /* Name.Builtin */
.chroma .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.chroma .no { color: #60add5 } /* Name.Constant */
.chroma .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.chroma .ni { color: #d55537; font-weight: bold } /* Name.Entity */
.chroma .ne { color: #007020 } /* Name.Exception */
.chroma .nf { color: #06287e } /* Name.Function */
.chroma .nl { color: #002070; font-weight: bold } /* Name.Label */
.chroma .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.chroma .nt { color: #062873; font-weight: bold } /* Name.Tag */
.chroma .nv { color: #bb60d5 } /* Name.Variable */
.chroma .ow { color: #007020; font-weight: bold } /* Operator.Word */
.chroma .w { color: #bbbbbb } /* Text.Whitespace */
.chroma .mb { color: #208050 } /* Literal.Number.Bin */
.chroma .mf { color: #208050 } /* Literal.Number.Float */
.chroma .mh { color: #208050 } /* Literal.Number.Hex */
.chroma .mi { color: #208050 } /* Literal.Number.Integer */
.chroma .mo { color: #208050 } /* Literal.Number.Oct */
.chroma .sa { color: #4070a0 } /* Literal.String.Affix */
.chroma .sb { color: #4070a0 } /* Literal.String.Backtick */
.chroma .sc { color: #4070a0 } /* Literal.String.Char */
.chroma .dl { color: #4070a0 } /* Literal.String.Delimiter */
.chroma .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.chroma .s2 { color: #4070a0 } /* Literal.String.Double */
.chroma .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.chroma .sh { color: #4070a0 } /* Literal.String.Heredoc */
.chroma .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.chroma .sx { color: #c65d09 } /* Literal.String.Other */
.chroma .sr { color: #235388 } /* Literal.String.Regex */
.chroma .s1 { color: #4070a0 } /* Literal.String.Single */
.chroma .ss { color: #517918 } /* Literal.String.Symbol */
.chroma .bp { color: #007020 } /* Name.Builtin.Pseudo */
.chroma .fm { color: #06287e } /* Name.Function.Magic */
.chroma .vc { color: #bb60d5 } /* Name.Variable.Class */
.chroma .vg { color: #bb60d5 } /* Name.Variable.Global */
.chroma .vi { color: #bb60d5 } /* Name.Variable.Instance */
.chroma .vm { color: #bb60d5 } /* Name.Variable.Magic */
.chroma .il { color: #208050 } /* Literal.Number.Integer.Long */
/**********************************************************************/
/*                                                                    */
/*  SAS -- SAS -- SAS -- SAS -- SAS -- SAS -- SAS                     */
/*                                                                    */
/**********************************************************************/

/* Background */ .chroma   .language-sas  {  }
/* Other */ .chroma   .language-sas  .x {  }
/* Error */ .chroma   .language-sas  .err {  }
/* LineTableTD */ .chroma   .language-sas  .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma   .language-sas  .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma   .language-sas  .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma   .language-sas  .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma   .language-sas  .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ .language-sas .k { color: blue; font-weight: normal; }
/* KeywordConstant */ .chroma   .language-sas  .kc { color: #192cb5; font-weight: bold }
/* KeywordDeclaration */ .chroma   .language-sas  .kd { color: #192cb5; font-weight: bold }
/* KeywordNamespace */ .chroma   .language-sas  .kn { color: #192cb5; font-weight: bold }
/* KeywordPseudo */ .chroma   .language-sas  .kp { color: #192cb5 }
/* KeywordReserved */ .chroma   .language-sas  .kr { color: #192cb5; font-weight: bold }
/* KeywordType */ .chroma   .language-sas  .kt { color: #b00040 }
/* Name */ .chroma   .language-sas  .n {  }
/* NameAttribute */ .chroma   .language-sas  .na { color: #7d9029 }
/* NameBuiltin */ .chroma   .language-sas  .nb { color: #192cb5 }
/* NameBuiltinPseudo */ .chroma   .language-sas  .bp {  }
/* NameClass */ .chroma   .language-sas  .nc { color: #0000ff; font-weight: bold }
/* NameConstant */ .chroma   .language-sas  .no { color: #880000 }
/* NameDecorator */ .chroma   .language-sas  .nd { color: #aa22ff }
/* NameEntity */ .chroma   .language-sas  .ni { color: #999999; font-weight: bold }
/* NameException */ .chroma   .language-sas  .ne { color: #d2413a; font-weight: bold }
/* NameFunction */ .chroma   .language-sas  .nf { color: #0000ff }
/* NameFunctionMagic */ .chroma   .language-sas  .fm {  }
/* NameLabel */ .chroma   .language-sas  .nl { color: #a0a000 }
/* NameNamespace */ .chroma   .language-sas  .nn { color: #0000ff; font-weight: bold }
/* NameOther */ .chroma   .language-sas  .nx {  }
/* NameProperty */ .chroma   .language-sas  .py {  }
/* NameTag */ .chroma   .language-sas  .nt { color: #192cb5; font-weight: bold }
/* NameVariable */ .chroma   .language-sas  .nv { color: #19177c }
/* NameVariableClass */ .chroma   .language-sas  .vc {  }
/* NameVariableGlobal */ .chroma   .language-sas  .vg {  }
/* NameVariableInstance */ .chroma   .language-sas  .vi {  }
/* NameVariableMagic */ .chroma   .language-sas  .vm {  }
/* Literal */ .chroma   .language-sas  .l {  }
/* LiteralDate */ .chroma   .language-sas  .ld {  }
/* LiteralString */  .language-sas  .s { color: #8a366e; }
/* LiteralStringAffix */ .chroma   .language-sas  .sa { color: #ba2121 }
/* LiteralStringBacktick */ .chroma   .language-sas  .sb { color: #ba2121 }
/* LiteralStringChar */ .chroma   .language-sas  .sc { color: #ba2121 }
/* LiteralStringDelimiter */ .chroma   .language-sas  .dl { color: #ba2121 }
/* LiteralStringDoc */ .chroma   .language-sas  .sd { color: #ba2121; font-style: italic }
/* LiteralStringDouble */ .chroma   .language-sas  .s2 { color: #ba2121 }
/* LiteralStringEscape */ .chroma   .language-sas  .se { color: #bb6622; font-weight: bold }
/* LiteralStringHeredoc */ .chroma   .language-sas  .sh { color: #98218f }
/* LiteralStringInterpol */ .chroma   .language-sas  .si { color: #bb6688; font-weight: bold }
/* LiteralStringOther */ .chroma   .language-sas  .sx { color: #192cb5 }
/* LiteralStringRegex */ .chroma   .language-sas  .sr { color: #bb6688 }
/* LiteralStringSingle */ .chroma   .language-sas  .s1 { color: #98218f }
/* LiteralStringSymbol */ .chroma   .language-sas  .ss { color: #19177c }
/* LiteralNumber */ .chroma   .language-sas  .m { color: #007572;font-weight: bold }
/* LiteralNumberBin */ .chroma   .language-sas  .mb { color: #007572 ;font-weight: bold}
/* LiteralNumberFloat */ .chroma   .language-sas  .mf { color: #007572 ;font-weight: bold}
/* LiteralNumberHex */ .chroma   .language-sas  .mh { color: #007572 ;font-weight: bold}
/* LiteralNumberInteger */ .chroma   .language-sas  .mi { color: #007572;font-weight: bold }
/* LiteralNumberIntegerLong */ .chroma   .language-sas  .il { color: #007572;font-weight: bold }
/* LiteralNumberOct */ .chroma   .language-sas  .mo { color: #007572 ;font-weight: bold}
/* Operator */ .chroma   .language-sas  .o { color: #007572 }
/* OperatorWord */ .chroma   .language-sas  .ow { color: #aa22ff; font-weight: bold }
/* Punctuation */ .chroma   .language-sas  .p {  }
/* Comment */ .chroma   .language-sas  .c { color: #3e7a20; font-style: italic }
/* CommentHashbang */ .chroma   .language-sas  .ch { color: #3e7a20; font-style: italic }
/* CommentMultiline */ .chroma   .language-sas  .cm { color: #3e7a20; font-style: italic }
/* CommentSingle */ .chroma   .language-sas  .c1 { color: #3e7a20; font-style: italic }
/* CommentSpecial */ .chroma   .language-sas  .cs { color: #3e7a20; font-style: italic }
/* CommentPreproc */ .chroma   .language-sas  .cp { color: #bc7a00 }
/* CommentPreprocFile */ .chroma   .language-sas  .cpf { color: #bc7a00 }
/* Generic */ .chroma   .language-sas  .g {  }
/* GenericDeleted */ .chroma   .language-sas  .gd { color: #a00000 }
/* GenericEmph */ .chroma   .language-sas  .ge { font-style: italic }
/* GenericError */ .chroma   .language-sas  .gr { color: #ff0000 }
/* GenericHeading */ .chroma   .language-sas  .gh { color: #000080; font-weight: bold }
/* GenericInserted */ .chroma   .language-sas  .gi { color: #00a000 }
/* GenericOutput */ .chroma   .language-sas  .go { color: #888888 }
/* GenericPrompt */ .chroma   .language-sas  .gp { color: #000080; font-weight: bold }
/* GenericStrong */ .chroma   .language-sas  .gs { font-weight: bold }
/* GenericSubheading */ .chroma   .language-sas  .gu { color: #800080; font-weight: bold }
/* GenericTraceback */ .chroma   .language-sas  .gt { color: #0044dd }
/* GenericUnderline */ .chroma   .language-sas  .gl { text-decoration: underline }
/* TextWhitespace */ .chroma   .language-sas  .w { color: #bbbbbb }
