<footer class="site-footer">

  {{ if .IsTranslated | and site.Params.footer.show_translations }}
    <div class="powered-by d-flex flex-wrap pb-2 justify-content-center">
      <div class="p-2 font-weight-bold"><i class="fas fa-globe pr-1" aria-hidden="true"></i>{{ i18n "languages" }}:</div>
      <div class="p-2">{{ index site.Data.i18n.languages .Lang }}</div>
      {{ range .Translations }}
        <div class="p-2"><a href="{{ .Permalink }}">{{ index site.Data.i18n.languages .Lang }}</a></div>
      {{ end }}
    </div>
  {{ end }}

  
  {{ with site.Copyright }}
<p class="powered-by">
    {{ replace . "{year}" now.Year | markdownify }}
</p>
<p class="powered-by">
 Réalisé avec  <a href="https://github.com/oboukary/boukary_website"> <i class="fas fa-code-branch"></i></a>, le template <a href="https://wowchemy.com/docs/getting-started/customization/"> Wowchemy academic</a> et le package <a href="https://bookdown.org/yihui/blogdown/"> blogdown</a> de <a href="https://www.r-project.org/"><i class="fab fa-r-project"></i></a>
  {{ end }}
  
  </p>
</footer>
