<footer class="site-footer">

  {{ if .IsTranslated | and site.Params.footer.show_translations }}
    <div class="powered-by d-flex flex-wrap pb-2 justify-content-center">
      <div class="p-2 font-weight-bold"><i class="fas fa-globe pr-1" aria-hidden="true"></i>{{ i18n "languages" }}:</div>
      <div class="p-2">{{ index site.Data.i18n.languages .Lang }}</div>
      {{ range .Translations }}
        <div class="p-2"><a href="{{ .Permalink }}">{{ index site.Data.i18n.languages .Lang }}</a></div>
      {{ end }}
    </div>
  {{ end }}


  {{ with site.Copyright }}
  <p class="powered-by">
    {{ replace . "{year}" now.Year | markdownify }}

  {{ end }}

  {{/* Display copyright license. */}}
  {{ partial "site_footer_license" . }}
 , réalisé avec <i class="fas fa-heart"></i>, le package <a href="https://cran.r-project.org/web/packages/blogdown/index.html"> blogdown de  <i class="fab fa-r-project"></i></a> et le template <a href="https://wowchemy.com/templates/"> Wowchemy</a>


  </p>
</footer>
